<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="manifest" href="%PUBLIC_URL%/manifest.json">
	<link rel="shortcut icon" href="%PUBLIC_URL%/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/assets/index_style.css">
    <script src="/app.js" defer></script>
    <script src="/assets/script/script.js" defer></script>
    <script type="module" src="/src/math.js" defer></script>
    <script type="module" src="/src/functionPlot.js" defer></script>
    <script src="https://kit.fontawesome.com/edc27adb51.js" crossorigin="anonymous"></script>
    

    <title>Graph</title>
</head>
<body>
    <div class="container">
        <div class="user-coloumn">
            <div class="settings-container">
                <div class="settings-block">
                    <div class="selection-container">
                        <div class="search-container">
                            <p>Search usernames</p>   
                            <div class="user-submit">
                                <input type="text" id="autocomplete_search" placeholder="Type username here" />
                                <span id="search_result"></span>
                            </div>
                        </div>
                    </div>
                    <div class="selection-container" onclick="calculateReveal()">
                        <i class="fa-solid fa-calculator"></i>
                        <p>Calculate</p>
                    </div>
                    <div class="selection-container" onclick="historyReveal()">
                        <i class="fa-solid fa-clock-rotate-left"></i>
                        <p>History</p>
                    </div>
                    <div class="selection-container">
                        <a href="/settings">
                            <i class="fa-solid fa-gear"></i>
                        </a>
                        <p>Settings</p>
                    </div>
                    <div class="selection-container">
                        <i class="fa-solid fa-right-from-bracket" onclick="logoutReveal()"></i>
                        <p>Logout</p>
                    </div>
                    </div>
                <div class="testing-container">
                    <i onclick="settings()" class="fa-solid fa-bars button"></i>
                </div>
            </div>
            <h1>Graph Visualizer</h1>
            <div class="graph-input">
                <input id="graphFunction" type="text" placeholder="Example: x^2...">
                <button class="submit">Submit</button>
            </div>

            

            <div class="category-container">
                <div class="calculate-container">
                    <h2>Calculate</h2>
                    <div class="calculate-selection">
                        <!-- ## OPTIONS ##  -->

                        <button class="math-calc" onclick="calcOption('y')">X values</button>
                        <button class="math-calc" onclick="calcOption('integral')">Integrals</button>
                        <button class="math-calc" onclick="calcOption('tangent')">Tangents</button>
                        <button class="math-calc" onclick="calcOption('secant')">Secants</button>
                        <button class="math-calc" onclick="calcOption('derivative')">Derivatives</button>
                        <button class="math-calc" onclick="calcOption('vector')">Vectors</button>
                        <button class="math-calc" onclick="calcOption('annotations')">Annotations</button>

                        <!-- ## DISPLAYS ##  -->

                        <div class="y-container">
                            <input class="x-value" type="number">
                            <button class="xVal-update">Calculate</button>
                            <div class="xVal-output"></div>

                            <p>simplify</p>
                            <input type="text" class="simplify-string">
                            <button class="xVal-update">Calculate</button>
                            <div class="simplify-container"></div>
                        </div>

                        <div class="integral-container">
                            <input class="x1t" type="number">
                            <input class="x2t" type="number">
                        </div>

                        <div class="tangent-container">
                            <button id="tangent-activate">Activate tangent</button>
                            <button id="tangent-deactivate">Deactivate tangent</button>
                        </div>

                        <div class="secant-container">
                            <input class="x1s" type="number">
                            <input class="x2s" type="number">
                        </div>

                        <div class="derivative-container">
                            <div class="deriv-output"></div>
                            <input type="number" class="x-deriv">
                            <button class="deriv-update">Update</button>
                        </div>

                        <div class="vector-container">
                            <p>x1</p>
                            <input class="x1v" type="number">
                            <p>y2</p>
                            <input class="y1v" type="number">


                            <p>x2</p>
                            <input class="x2v" type="number">
                            <p>y2</p>
                            <input class="y2v" type="number">
                            <button id="updateVec">Update</button>

                        </div>

                        <div class="annotations-container">
                            x<input class="xa" type="number">
                            y<input class="ya" type="number">
                        </div>
                    </div>
                </div>


                <div class="history-container">
                    <h2>History</h2>
                    <div class="history"></div> 
                </div>
            </div>
        </div>
        <div id="root"></div>
    </div>



<div class="profile-card">
    <a href="/" id="profile-card-back">Back</a>
    <img id="profile-card-img" src="/assets/Images/defaltPFP.png" alt="Profile picture">
      <div class="information-container">
        <p id="usernameDisplay"></p>
        <p id="countryDisplay">Country: None selected</p>
        <p id="membersinceDisplay"></p>
    </div> 

      <!-- <div class="information-container">
        <p id="usernameDisplay">Username: ella</p>
        <p id="countryDisplay">Country: Sweden</p>
        <p id="membersinceDisplay">Member since: 9/11</p>
    </div>     -->

</div>

</body>
</html>

