<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/assets/loginregister_style.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="login-block">
            <h1>Login</h1>
            <form action="/login" method="POST">
                <label for="email">Email:</label>
                <input type="email" name="email" id="email">
                <label for="password">Password:</label>
                <input type="password" name="password" id="password">
                <button type="submit">Login</button>
                <a href="/register">Sign up</a>
            </form>
        </div>
        <div class="information-box">
            <h1>How to use graph visualizer</h1>
            <ul>
                <li>Type out your equation in the box that says "Example: x^2..."</li>
                <li>When typing out the function use the variable x. Make sure it is not capitalized.</li>
                <li>+ is addition.</li>
                <li>- is subtraction.</li>
                <li>* is multiplication.</li>
                <li>/ is division.</li>
                <li>^ is exponents.</li>
                <li>eulers number does not work.</li>
                <li>Use the side bar to navigate the website.</li>
            </ul>
        </div>
    </div>
</body>
</html>