<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/assets/loginregister_style.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="login-block">
            <h1>Sign up</h1>
            <form action="/register" method="POST" enctype="multipart/form-data">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>

                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>

                <label for="password">Password:</label>
                <input type="password" name="password" for="password" required>

                <label for="country">Country:</label>
                <input type="text" name="country" for="country">

                <label>Profile picture:</label>
                <label id="img-file-container" for="img">Select file</label>
                <input type="file" accept="image/*" name="img" id="img">
                <button type="submit">Sign up</button>
                <a href="/login">Login</a>
            </form>
        </div>
        <div class="information-box">
            <h1>How to use graph visualizer</h1>
            <ul>
                <li>Type out your equation in the box that says "Example: x^2..."</li>
                <li>When typing out the function use the variable x. Make sure it is not capitalized.</li>
                <li>+ is addition.</li>
                <li>- is subtraction.</li>
                <li>* is multiplication.</li>
                <li>/ is division.</li>
                <li>^ is exponents.</li>
                <li>eulers number does not work.</li>
                <li>Use the side bar to navigate the website.</li>
            </ul>
        </div>
    </div>
</body>
</html>