<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/assets/settings_style.css">
    <script src="/assets/script/settings.js" defer></script>
    <title>Document</title>
</head>
<body>
    <div class="container">
        <a class="back" href="/">Back</a> 
        <h1>Settings</h1>
        <div class="settings-container">
            <div class="theme settings">
                <h2>Themes</h2>
                <form action="/settings" method="POST" class="colors">
                    <label for="color">Select your desired theme</label>
                    <input type="color" value="#0000FF" name="color" id="pageColor">
                    <button type="submit">Submit</button>
                </form>

                <button onclick="test()">test</button>
            </div>

            <div class=" settings">
                <h2>2</h2>
            </div>

            <div class=" settings">
                <h2>3</h2>
            </div>

            <div class="logout settings">
                <h2>Logout</h2>
            </div>
        </div>
    </div>



</body>
</html>